{% extends "base.html.twig" %}

{% block body %}
	<div class="session max-w-full">
		<div class="home max-w-full h-full bg-no-repeat bg-contain">
			<h1 class="text-3xl font-bold underline purple">Page d'accueil</h1>
		</div>
	</div>
{% endblock %}
