#connection {
    background-image: url('../../../public/images/background/flux-conception-code-binaire_53876-97406.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}