#registration {
    background-image: url('../../../public/images/background/flux-conception-code-binaire_53876-97406.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .input {
        width: 100%;
        background-color: transparent;
        border-bottom: 2px solid white;
        color: #e796f7;
        outline: none;
    }
}