<footer class="relative z-big max-w-full h-10 bg-indigo font-family">
	<h3 class="h-10 flex justify-center items-center text-base text-white tracking-wider">Audrey Sonkes © Portfolio 2024</h3>
</footer>
