<header class="max-w-full h-16 bg-indigo font-family text-white">
	<nav class="list-none h-16">
		<ul class="h-16 flex justify-center items-center">
			<li class="w-32 text-xl">
				<a href="#">Accueil</a>
			</li>
			<li class="w-32 text-xl">
				<a href="#">About</a>
			</li>
			<li class="w-32 text-xl">
				<a href="#">Projects</a>
			</li>
			<li class="w-32 text-xl">
				<a href="#">Contact</a>
			</li>
		</ul>
	</nav>
</header>
