{% extends "base.html.twig" %}

{% block title %}
	Admin - Supprimer un produit
{% endblock %}

{% block body %}

	<div class="max-w-full h-full flex flex-col font-family bg-black" id="admin">
		<h2 class="text-white text-50 p-2.5 pt-16 tracking-wider">Administration - Supprimer un produit</h2>
	</div>

	<div></div>
{% endblock %}
