* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    min-height: 100%;
    background-color: white;
    position: relative;
}

#session,
#home,
#about,
#works,
#connection,
#registration {
    min-height: 100vh;
}