* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //line-height: 24px;
}

body {
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

#session,
#home,
#about,
#works,
#connection,
#registration {
    min-height: 100vh;
}