* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    min-height: 100vh;
    background-color: red;
}

.session, .home {
    min-height: calc(100vh - 104px);
}

.home {
    background-image: url('../../public/images/background/banniere-abstraite-conception-vagues-qui-coule-arc-ciel_1048-14398.webp');
}

